<div fxLayout="column" class="base">
  <div class="top-base" fxLayout="column">
    <div class="app-content">
      <mat-toolbar class="toolbar" fxLayout="row">
        <h2 class="mat-h2 toolbar-title">iffa</h2>
        <div fxFlex></div>
        <a mat-flat-button href="mailto:me@santeri.xyz" class="button">Contact me</a>
      </mat-toolbar>

      <div class="intro-container">
        <h1 class="mat-h1 intro-title">Santeri Elo</h1>
        <h2 class="mat-h2 intro-subtitle">Web & Mobile Developer</h2>
        <p class="intro-bullet-point">Angular • Android • NodeJS</p>

        <div class="intro-socials">
          <a mat-icon-button aria-label="LinkedIn" href="https://linkedin.com/in/santerielo/"
             target=”_blank” rel=”noopener”>
            <fa-icon [icon]="linkedIn" size="lg"></fa-icon>
          </a>
          <a mat-icon-button aria-label="Twitter" href="https://twitter.com/iffa_dev"
             target=”_blank” rel=”noopener”>
            <fa-icon [icon]="twitter" size="lg"></fa-icon>
          </a>
          <a mat-icon-button aria-label="GitHub" href="https://github.com/iffa"
             target=”_blank” rel=”noopener”>
            <fa-icon [icon]="github" size="lg"></fa-icon>
          </a>
        </div>

        <p class="intro-about">
          Young, bright-minded software developer, with a strong background in mobile application development, and an
          interest in open source and the latest technologies. Solid understanding of full-stack web development, with
          experience managing releases and projects, and automating product releases using different deployment
          pipelines.
        </p>
        <p>
          Currently creating web & mobile solutions at <b>CGI</b>.
        </p>
      </div>

      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
  <div class="bottom-base" fxFlex>
    <div class="bottom-card mat-elevation-z1" fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-h1 bottom-card-title">Portfolio</h1>
        <h2 class="mat-h2 bottom-card-subtitle">Latest & greatest</h2>
      </div>

      <div class="portfolio-card" fxLayout="row">
        <div fxLayout="column">
          <div fxLayoutAlign="start start" fxLayoutAlign.lt-lg="center center">
            <!--suppress HtmlUnknownTarget - it exists just shut up -->
            <img alt="App icon" src="/assets/citybike_icon.png" class="portfolio-icon">
          </div>
          <div fxLayout="column" fxLayoutAlign.lt-lg="center center">
            <h1 class="mat-h1 portfolio-title">Turku city bikes (Fölläri)</h1>
            <h2 class="mat-h2 portfolio-subtitle">Android app</h2>
            <p class="portfolio-text">See the availability of Turku's city bikes anywhere & anytime: always
              up-to-date.</p>

            <a target=”_blank” rel=”noopener”
               href='https://play.google.com/store/apps/details?id=xyz.santeri.citybike&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
              <img class="portfolio-play-store" alt='Get it on Google Play'
                   src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
            </a>
          </div>
        </div>
        <div fxFlex class="portfolio-spacer"></div>
        <div fxLayoutAlign="center center" fxHide.lt-lg>
          <!--suppress HtmlUnknownTarget - it exists just shut up -->
          <img alt="App screenshot" src="/assets/citybike_mock.png" class="portfolio-mockup"
               fxLayoutAlign="center center">
        </div>
      </div>

      <p class="bottom-card-button-title">Want to build an app?</p>
      <a mat-flat-button href="mailto:me@santeri.xyz" class="button bottom">Contact me</a>
    </div>
  </div>
</div>
