@import '~@angular/material/theming';

.base {
  width: 100%;
  height: 100%;
}

.app-content {
  margin-left: 25vw;
  margin-right: 25vw;
}

.toolbar {
  padding-top: 64px;
  padding-bottom: 64px;
  background: none;
}

.toolbar-title {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: white;
}

.button {
  background-color: #1E272E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 0.5em;
  text-transform: uppercase;
  color: white;

  &.bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: 128px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1.0em;
  }
}

.intro-container {
  padding: 16px;
  margin-top: 64px;
  margin-bottom: 128px;
  color: white;
  font-family: 'Lato', sans-serif;
}

.intro-title {
  font-weight: 900;
  font-size: 3em;
  text-transform: uppercase;
}

.intro-subtitle {
  font-weight: 700;
  font-size: 1.25em;
  text-transform: uppercase;
}

.intro-bullet-point {
  font-weight: 700;
  font-size: 0.9em;
  text-transform: uppercase;
}

.intro-socials {
  // For alignment with text
  // Because I'm lazy
  margin-left: -12px;
  margin-top: 32px;
}

.intro-about {
  font-weight: 400;
  font-size: 1em;
  line-height: 32px;
  margin-top: 64px;
}

.top-base {
  background: #F53B57;
}

.bottom-base {
  background: #f9f8f8;
}

.bottom-card {
  background: white;
  border-radius: 4px;
  margin-top: -128px;
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 48px 16px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.75em;
}

.bottom-card-title {
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0 auto;
  color: #F53B57;
}

.bottom-card-subtitle {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  color: #808e9b;
  margin-left: auto;
  margin-right: auto;
}

.bottom-card-button-title {
  font-weight: 500;
  font-size: 1em;
  color: #1e272e;
  margin: 48px auto 16px;
}

.portfolio-card {
  background: white;
  border-radius: 4px;
  padding: 48px 16px;

  @include mat-elevation(24, #1e272e, 0.35);
}

.portfolio-mockup {
  object-fit: contain;
  height: 250px;
}
