@import '~@angular/material/theming';

$personal-site-typography: mat-typography-config($font-family: '"Lato", sans-serif;');
@include mat-core($personal-site-typography);

$personal-site-primary: mat-palette($mat-blue, A500, A400, A600);
$personal-site-accent: mat-palette($mat-light-blue, A200, A100, A400);
$personal-site-warn: mat-palette($mat-deep-orange);
$personal-site-theme: mat-light-theme($personal-site-primary, $personal-site-accent, $personal-site-warn);
@include angular-material-theme($personal-site-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  // user-select: none
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
